body {
    background: #de6161;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2657eb, #de6161);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2657eb, #de6161);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


#ic{
    width: 15%;
    margin: 0 auto;
}


#nav{
    background-color: #000000;
    height: 60px;
}

#titu{
    font-family: 'Rokkitt';
    color: white;
    font-size: 36px;
}

#navli{
    color: white;
    font-family: 'Rokkitt';
    font-size: 22px;
}

#icon{
    font-size: 22px;
    color: white;
}

.papel{
    margin-left:6% ;
    margin-top: 6%;
}